@layer components,demo, core, utils;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --W-100: #ffffff;

  --N-40: #eceff5;
  --N-60: #d0d6e1;
  --N-80: #95a0b3;
  --N-300: #505f79;
  --N-900: #222a37;
}

body {
  min-height: 1000vh;
  margin: 0;
  background-color: var(--N-40);
}

@layer core {
  #app {
    padding: 32px;
    gap: 32px;
    display: flex;
    flex-direction: column;
  }

  .tooltip-demo {
    gap: 20px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 480px;

    @media (width <= 1800px) {
      display: flex;
      flex-direction: column-reverse;
    }

    @media (width > 1800px) {
      & > :nth-child(2) {
        position: sticky;
        top: 32px;
        height: max-content;
      }
    }

    .buttons-column {
      gap: 20px;
      display: flex;
      flex-direction: column;
    }

    .row-wrapper {
      display: grid;
      grid-template-columns: 520px 1fr;

      @media (width <= 1280px) {
        grid-template-columns: 1fr;
      }
    }

    .button-wrapper {
      padding: 32px;
      display: grid;
      align-self: stretch;
      justify-self: stretch;
      place-items: center;
    }
  }

  .code-example {
    padding: 20px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0 0 0 / 15%), 0 2px 4px rgba(0 0 0 / 10%), 0 4px 8px rgba(0 0 0 / 5%);

    .code-example__block {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2px 4px;
        border-radius: 6px;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #505f79;
        color: #ffffff;
        content: attr(data-lang);
      }
    }

    pre {
      margin: 0;
    }
  }
}

@layer utils {
  .columns-2 {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .columns-4 {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .flow {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .button {
    --background-color: var(--W-100);
    --border-color: var(--N-60);
    --color: var(--N-900);

    padding: 16px 20px;
    border: 1px solid
      var(--border-color, color-mix(in srgb, var(--color, #ffffff) 80%, var(--background-color)));
    border-radius: var(--border-radius, 6px);
    font-size: 16px;
    font-family: inherit;
    line-height: 22px;
    background-color: var(--background-color);
    color: color-mix(in srgb, var(--color, #ffffff) 85%, var(--background-color));
    transition-property: background-color, border-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus-visible {
      --background-color: var(--N-40);
    }

    &:focus {
      outline: none;
    }

    &:active {
      --background-color: var(--N-60);
      --border-color: var(--N-60);
    }
  }

  .tooltip-hint {
    width: max-content;
    margin: 6px;
    padding: 7px 12px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 16px;
    background-color: var(--N-300);
    color: var(--W-100);
  }
}

@layer demo {
  .button {
    position: relative;
    min-width: 120px;

    &::after {
      position: absolute;
      inset: 0;
      /* visibility: hidden; */
      anchor-name: var(--anchor-name);
      content: '';
    }

    &:hover,
    &:focus-visible {
      &::after {
        visibility: visible;
      }
    }
  }

  .tooltip-hint {
    position: absolute;
    position-anchor: var(--anchor-name);
    position-visibility: anchors-visible;

    &.tooltip-hint-top {
      position-area: top center;
      position-try-fallbacks: top, bottom;
    }

    &.tooltip-hint-bottom {
      width: anchor-size(var(--anchor-name) width);
      position-area: bottom right;
    }

    &.tooltip-hint-left {
      height: anchor-size(var(--anchor-name) height);
      position-area: left center;
    }

    &.tooltip-hint-right {
      position-area: right center;
    }
  }
}
