:root {
  --success-color: #7aa500;
  --warning-color: #e07d00;
  --error-color: #e8445c;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: calc(100vh / 1.5);
  margin: 0;
  zoom: 1.5;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  background-color: #eceff5;
}

#app {
  max-width: 800px;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  & > * {
    border-radius: 6px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 2px 4px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 5%);
  }
}

.theme-holder {
  padding: 48px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--foreground-color);

  &.theme-holder--light {
    --background-color: #f6f7fb;
    --foreground-color: #111111;
  }

  &.theme-holder--dark {
    --background-color: #222222;
    --foreground-color: #fafafa;
  }
}

.code-example {
  padding: 32px;
  grid-column: 1 / -1;
  background-color: #ffffff;

  pre {
    margin: 0;
  }

  :root:has(.theme-holder--light .status:hover) & {
    .variable-declaration,
    .variable-usage {
      --background-color: #f6f7fb;
      --foreground-color: #111111;
    }
  }

  :root:has(.theme-holder--dark .status:hover) & {
    .variable-declaration,
    .variable-usage {
      --background-color: #222222;
      --foreground-color: #fafafa;
    }
  }

  :root:has(.theme-holder .status--success:hover) & {
    .variable-declaration,
    .variable-usage {
      --hover-color: var(--success-color);
    }
  }

  :root:has(.theme-holder .status--warning:hover) & {
    .variable-declaration,
    .variable-usage {
      --hover-color: var(--warning-color);
    }
  }

  :root:has(.theme-holder .status--error:hover) & {
    .variable-declaration,
    .variable-usage {
      --hover-color: var(--error-color);
    }
  }

  .variable-declaration,
  .variable-usage {
    &[data-name='base-color'] {
      --color: var(--hover-color);
    }

    &[data-name='fill-color'] {
      --color: color-mix(in srgb, var(--hover-color) 20%, var(--background-color));
    }

    &[data-name='border-color'] {
      --color: color-mix(in srgb, var(--hover-color) 75%, var(--background-color));
    }

    &[data-name='text-color'] {
      --color: color-mix(in srgb, var(--hover-color) 90%, var(--background-color));
    }

    &[data-name='background-color'] {
      --color: var(--background-color);
    }
  }

  .variable-declaration {
    background-color: var(--color);
    color: var(--foreground-color) !important;
  }

  .variable-usage {
    &::before {
      width: 1.125cap;
      height: 1.125cap;
      margin-inline: 0.25cap;
      border: 1px solid #505f79;
      display: inline-block;
      vertical-align: bottom;
      background-color: var(--color);
      content: '';
    }
  }
}

.status {
  --base-color: currentColor;

  --fill-color: color-mix(in srgb, var(--base-color) 20%, var(--background-color));
  --border-color: color-mix(in srgb, var(--base-color) 75%, var(--background-color));
  --text-color: color-mix(in srgb, var(--base-color) 90%, var(--background-color));

  min-width: 128px;
  padding: 4px 16px;
  gap: 12px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fill-color);
  color: var(--text-color);

  &.status--success {
    --base-color: var(--success-color);
  }

  &.status--warning {
    --base-color: var(--warning-color);
  }

  &.status--error {
    --base-color: var(--error-color);
  }

  .status__text {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-shadow: 0 1px 1px var(--background-color);
  }

  .status__icon {
    width: 16px;
    height: 16px;
  }
}
